.ios,.md
{
    page-sentence
    {
        .englishSentence
        {
           p
           {
              color: Blue;
              font-size : 14px;
           }
           h2
           {
                font-weight: bold;
                color: Orange;
            }
        }
    }
}
